body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
  
}

.card{
    position:relative;
    top:45px; right:100px; left:120px;
    background-color:red;
    margin: 10 10 10 10; 
    height: 50px;
    width: 310px;
    border-radius:30px;
    padding:10%
}
.btn-primary{
    background-color: green;
    color: whitesmoke;
    padding: 15px;
    padding-top: 20px;
    padding-bottom:40px;
    height: 1px;
    width: 200px;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    border-radius:30px;
}
