{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">

        {% for p in pokemon_id %}

        {% if u.username == current_user.username %}
        

        {% elif u.flag %}
        <li class="list-group-item"><b>{{u.username}}</b></li>
        <a class="btn btn-danger" >Release</a>

        {% else %}
        <li class="list-group-item"><b>{{ u.username }}</b></li>
        <a class="btn btn-success" >Catch</a>

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}