<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='pokeball.jpg')}}" alt="logo" width="100" > </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('auth.signUpPage') }}">signUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.loginPage') }}">Login</a>
        </li>
                
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ProfilePage') }}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('findpokemon') }}">Find Pokemon</a>
        </li>
        
        {% for u in users %}
        {% if u.username == current_user.username %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('releasepokemon', pokemon_id=u.id) }}">Release Pokemon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('catch', pokemon_id=u.id) }}">Catch Pokemon</a>
        </li>
        {% endif %}
        {% endfor %}
      
       
       
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logOut') }}">Logout!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{current_user.username}}</a>
        </li>
        {% endif %}
     
      </ul>
    
    </div>
  </div>
</nav>